:root {
    --background: #E8E1FE;
    --accent: #6138F5;
}

.Dictionary {
    background: var(--background)
}

.Dictionary section {
    background: white;
    padding: 35px;
    border-radius: 4px;
    margin: 23px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 3px 7px 12px rgb(0 0 0 / 15%);
    max-width: 75%;
    display: block;
}

.Dictionary input {
    width: 100%;
    padding: 6px 4px;
    border: 2px solid var(--accent);
    border-radius: 4px;
    color: #333
}

@media (max-width: 500px) {
    .Dictionary section {
        max-width: 85%;
    }
}