.Photos img {
    border-radius: 4px;
    margin: 8px;
    border: solid 2px #6138F5;
}

@media (max-width: 500px) {
    .Photos img {
        margin: 2px;
        margin-right: 0;
        margin-left: 0;

    }

    .Photos .col-4 {
        padding: 3px;
    }
}